<h1>Display List</h1>
<h2>!"esta pg es el index"</h2>

<ul class="d-flex justify-content-center list-unstyled">
  <% @lists.each do |list| %>
    <li class="p-3 border mx-2 pt-4 mt-3 bg-info">
      <%= link_to list.name, list_path(list)%>
      <input type="checkbox">
    </li>
  <% end %>
</ul>

<div class="">
  <%= link_to "Add a new list", new_list_path, class: "btn btn-primary mt-2 mr-2 " %>
</div>
